{% extends "base.html" %}

{% block content %}
<style>
* {
    background-color: transparent;
}

#id_content {

    height: 100px;
    text-shadow: none;
    font-size: 40px;
    display: block;
    text-transform: none;
    border-radius: 0;
    outline:none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-color:transparent;
    border:none;
    box-shadow: none;

}

input:focus{
    outline:none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background:none;

}

#id_item {

}

#id_highlight {
    font-size: 40px;
    font-weight: bold;
}

a {
    color:purple;
}

li {
    list-style-type: none;
}
.page {
    padding-top: 35px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
</style>

<div class="page">
    <ul style="list-style:none" id="id_item" class="center-block">
       {% for item in items %}
	   <li id="id_highlight" class="center-block" ><a href='/finished/delete_item/{{item.id}}'>{{ item.content }}</a></li>
        {% endfor %}
    </ul>

    <form class="form-inline" method="post" action="{% url 'finished_add_item' %}" role="form">
    <ul>
    <li><input class ="form-control" id="id_content" type="text" name="content" maxlength="500" placeholder = "Add Item" autofocus ></input></li>
</ul>
        {% csrf_token %}
    </form>
</div>

{% endblock content %}

{% block extra_javascript %}

$(document).ready(function(){
    $("#id_item").focus();
    $("#id_highlight").click(function(e){
        e.preventDefault();
        $(this).css('color','red')
    });
    $("a").click(function(){
        $(this).unbind('click')
    });
});
{% endblock %}


