{% extends "base.html" %}

{% block content %}
<style>
* {
    background-color: transparent;
}

#id_content {

    height: 100px;
    text-shadow: none;
    font-size: 40px;
    display: block;
    text-transform: none;
    border-radius: 0;
    outline:none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-color:transparent;
    border:none;
    box-shadow: none;

}

input:focus{
    outline:none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background:none;

}


#id_highlight {
    font-size: 40px;
    font-weight: bold;
    width: 15px;
}

a {
    color:purple;
}

li {
    list-style-type: none;
}

.page {
    padding-top: 40px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
</style>

<div class="page center-block">
    <a href="{% url 'fish_add_handle' %}">Add Twitter Handle</a>
</div>

{% endblock content %}




