{% extends "base.html" %}

{% block title %} Invite | Create Account {% endblock %}

{% block page_header %}Create Account{% endblock page_header %}

{% block content %}
<div class="col-md-3">
    <form method="post" action="{% url 'around_create_account' %}" role="form">

        {% if form.email.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.email.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_email">Email: </label>
            <input class="form-control" id="id_email" type="text" name="email" maxlength="100"
            {% if form.email.value %}
            value="{{form.email.value}}"
            {% endif %}
            >
        </div>

        {% if form.password.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.password.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_password">Password: </label>
            <input class="form-control" id="id_password" type="password" name="password" maxlength="100"
            {% if form.password.value %}
            value="{{form.password.value}}"
            {% endif %}
            >
        </div>

        {% if form.username.errors %}
        <div class="row">
            <div class="span9 formerror">
                {% for error in form.username.errors %}
                <h5>{{ error|escape }}</h5>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input class="form-control" type="text" name="username" id="id_username"
            {% if form.username.value %}
            value="{{form.username.value}}"
            {% endif %}
            >
        </div>

        <div class="row">
            <div class="col-md-1">
                <input id="form-submit" class="btn btn-primary btn-submit" type="submit" ></input>
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% endblock %}