<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Login</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form" action="{% url 'login' %}" method="POST">
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}

        <h2 class="form-signin-heading">Login</h2>
        {% if form.errors %}
        <div class="alert alert-danger">
            <h5>Please check your username and password</h5>
        </div>
        {% endif %}
        <input class="form-control" id="id_username" type="text" name="username" maxlength="30" placeholder="Username" required autofocus><br>
        <input class="form-control" type="password" name="password" id="id_password" placeholder="Password" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </br>
      <a href="{% url 'around_create_account' %}"{% if path == '/dashboard/content/'%} class="active"{% endif %} style="margin:320px">Create Account</a>

    </div>
  </body>
</html>
